@{
    ViewBag.Title = "Home Page";
}

<nav id="header-region" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">People</a>
        </div>
    </div>
</nav>
<div class="container body-content full-height">
    <div id="main-region" class="full-height"></div>
</div>